<div class="col-md-12">
  <nb-card>
    <nb-card-header>Cadastro de paciente</nb-card-header>
    <nb-card-body>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputPrimeiroNome" class="label">Nome</label>
              <input type="text" nbInput fullWidth id="inputPrimeiroNome" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputCPF" class="label">CPF</label>
              <input type="text" nbInput fullWidth id="inputCPF" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputRG" class="label">RG</label>
              <input type="text" nbInput fullWidth id="inputRG" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputEstadoCivil" class="label">Estado Civil</label>
              <nb-select selected="default" fullWidth id="inputEstadoCivil">
                <nb-option value="default">&nbsp;</nb-option>
                <nb-option value="solteiro">Solteiro</nb-option>
                <nb-option value="casado">Casado</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputCNS" class="label">CNS</label>
              <input type="text" nbInput fullWidth id="inputCNS" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputData" class="label mr-2"
                >Data de Nascimento</label
              >
              <nb-icon icon="calendar-outline" status="primary"></nb-icon>
              <input
                nbInput
                [nbDatepicker]="formpicker"
                id="inputData"
                fullWidth
              />
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputGenero" class="label">Gênero</label>
              <nb-select selected="default" fullWidth id="inputGenero">
                <nb-option value="default">&nbsp;</nb-option>
                <nb-option value="solteiro">Masculino</nb-option>
                <nb-option value="casado">Feminino</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputRaca" class="label">Raça</label>
              <nb-select selected="default" fullWidth id="inputRaca">
                <nb-option value="default">&nbsp;</nb-option>
                <nb-option value="solteiro">Branco</nb-option>
                <nb-option value="casado">Pardo</nb-option>
              </nb-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-lg-4">
            <div class="form-group">
              <label for="inputDoenca" class="label">Doença crônica</label>
              <nb-radio-group
                id="inputDoenca"
                class="d-flex ml-md-4 ml-lg-5"
                name="inputDoenca"
              >
                <nb-radio value="sim">Sim</nb-radio>
                <nb-radio value="nao">Não</nb-radio>
                <nb-radio value="naoSei">Não sei</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="col-md-7 col-lg-8">
            <div class="form-group">
              <label for="inputQualDoenca" class="label">Qual?</label>
              <input type="text" nbInput fullWidth id="inputQualDoenca" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-lg-4">
            <div class="form-group">
              <label for="inputAlergia" class="label">Alergia</label>
              <nb-radio-group
                id="inputAlergia"
                class="d-flex ml-md-4 ml-lg-5"
                name="inputAlergia"
              >
                <nb-radio value="sim">Sim</nb-radio>
                <nb-radio value="nao">Não</nb-radio>
                <nb-radio value="naoSei">Não sei</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="col-md-7 col-lg-8">
            <div class="form-group">
              <label for="inputQualAlergia" class="label">Qual?</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="inputQualAlergia"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Endereço de email</label>
              <input type="email" nbInput fullWidth id="inputEmail" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="inputTelefone" class="label">Telefone</label>
              <input type="tel" nbInput fullWidth id="inputTelefone" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="inputCelular" class="label">Celular</label>
              <input type="tel" nbInput fullWidth id="inputCelular" />
              <!-- Alterar o type se necessário -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="offset-sm-3 offset-md-custom offset-lg-custom">
            <div class="buttons-row">
              <button
                style="margin-right: 5px"
                type="submit"
                nbButton
                status="success"
              >
                Enviar
              </button>
              <button nbButton status="warning" routerLink="../dashboardExp">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
